<%- include("partials/header.ejs"); %>
<link rel="stylesheet" href="/css/about.css">
 
<div class="about">
    <h2>About this website</h1>
        <p>I'm encountering a lot of difficulty making this. Today is 27 March.I started it on 
        23rd of march I guess. Pta hee nhi kb bnegi. Ab 2-3 din ghumne jana h parso.I just hope database tk sb
        setup ho jae before going. For that i have 2 days i.e, today n tomorrow. hehe.
        </p>
        <br>
        <p> okie today is 9 april. yesterday i completed the sign in page so customer can be added to database.</p>
</div>

<%- include("partials/footer.ejs"); %>